<h1>Tasks#new</h1>
<%= form_with(model: Task.new, local: true) do |form| %>
  <div class="task_title">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>
  <div class="task_details">
    <%= form.label :details %>
    <%= form.text_field :details %>
  </div>
  <%= form.submit %>
<% end %>
<p>Find me in app/views/tasks/new.html.erb</p>
